<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Птицы</title>
</head>
<body>
<form action="" method="POST">
    <div class="container border border-primary" style="background: #D0FEFE; border-radius: 10px; margin-top: 50px; padding: 10px">

        <h2 align="center"><a href="/birds/Волнистые_попугаи">Волнистые попугаи</a></h2>
        <img src="info/птицы/Волнистые попугаи/Картинка.jpg"/>
        <h2 align="center"><a href="/birds/Жако">Жако</a></h2>
        <img src="info/птицы/Жако/Картинка.jpg"/>
        <h2 align="center"><a href="/birds/Какаду">Какаду</a></h2>
        <img src="info/птицы/Какаду/Картинка.jpg"/>
        <h2 align="center"><a href="/birds/Корелла">Корелла</a></h2>
        <img src="info/птицы/Корелла/Картинка.jpg"/>
        <h2 align="center"><a href="/birds/Сова">Сова</a></h2>
        <img src="info/птицы/Сова/Картинка.jpg"/>
    </div>
</form>
</body>
</html>