<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кошки</title>
</head>
<body>
<form action="" method="POST">
    <div class="container border border-primary" style="background: #D0FEFE; border-radius: 10px; margin-top: 50px; padding: 10px">

        <h2 align="center"><a href="/cats/Экзотическая_кошка">Экзотическая кошка</a></h2>
        <img src="info/кошки/Экзотическая кошка/Картинка.jpg"/>
        <h2 align="center"><a href="/cats/Персидская_кошка">Персидская кошка</a></h2>
        <img src="info/кошки/Персидская кошка/Картинка.jpg"/>
        <h2 align="center"><a href="/cats/Регдолл">Регдолл</a></h2>
        <img src="info/кошки/Регдолл/Картинка.jpg"/>
        <h2 align="center"><a href="/cats/Мейн-кун">Мейн-кун</a></h2>
        <img src="info/кошки/Мейн кун/Картинка.jpg"/>
        <h2 align="center"><a href="/cats/Русская_голубая">Русская голубая</a></h2>
        <img src="info/кошки/Русская голубая/Картинка.jpg"/>
    </div>
</form>
</body>
</html>