<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Собаки</title>
</head>
<body>
<form action="" method="POST">
    <div class="container border border-primary" style="background: #D0FEFE; border-radius: 10px; margin-top: 50px; padding: 10px">
        
        <h2 align="center"><a href="/dogs/Бордер_колли">Бордер-колли</a></h2>
        <img src="info/собаки/Бордер-колли/Картинка.jpg"/>
        <h2 align="center"><a href="/dogs/Доберман">Доберман</a></h2>
        <img src="info/Собаки/Доберман/Картинка.jpg"/>
        <h2 align="center"><a href="/dogs/Кане_корсо">Кане корсо</a></h2>
        <img src="info/Собаки/Кане корсо/Картинка.jpg"/>
        <h2 align="center"><a href="/dogs/Немецкая_овчарка">Немецкая овчарка</a></h2>
        <img src="info/Собаки/Немецкая овчарка/Картинка.jpg"/>
        <h2 align="center"><a href="/dogs/Хаски">Хаски</a></h2>
        <img src="info/Собаки/Хаски/Картинка.jpg"/>
    </div>
</form>
</body>
</html>