{% extends "main_base.html" %}

{% block base_content %}

    <form action="" method="POST">

        {{ form.csrf_token() }}

        <div class="container border border-primary" style="background: #D0FEFE; border-radius: 10px; margin-top: 50px; padding: 10px">
            <div class="form-row">
                <div class="col">
                    <h2 align="center"><a href="/profile">Личный кабинет</a></h2>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col">
                    <h2 align="center"><a href="/cats">Кошки</a></h2>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col">
                    <h2 align="center"><a href="/dogs">Собаки</a></h2>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col">
                    <h2 align="center"><a href="/birds">Птицы</a></h2>
                </div>
            </div>

            <hr>
            <div class="form-row">
                <div class="col">
                    <h2 align="center"><a href="/settings">Настройки</a></h2>
                </div>
            </div>

        </div>

    </form>

{% endblock %}